:root{
    --color-main:#9131a8;
    --color-background:#b979c5;
    --gradient-background:linear-gradient(to bottom right,#b979c5, #791cf8);
    --color-3:#791cf8;
    --color-4:#6600ff;
}

body{
    font-family: 'Nunito', Arial, sans-serif;
    background-color: #a16eb5;
}

#logo {
    width: 50vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.BaseInterface{
    margin: 0 auto;
    width: 50%;
    height: 70%;
    --gradient-background:linear-gradient(to bottom right,#b979c5, #58c140);
    border-radius: 10px;
    justify-content: center;
    display: flex;
}

.ChooseName{
    width: fit-content;
    text-align: center;
}

.LobbySelection{
    display: none;
}

.PseudoPlayer{
    display: block;
}


.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content-container {
    display: block;
    background-color: rgba(208, 250, 247, 0.83);
    padding: 1rem 3rem 1rem 3rem;
}

.error-list {
    background-color: rgb(236, 93, 93);
    padding: 10px;
    border-radius: 15px;
    color: rgba(255, 255, 255, 0.81);
    font-weight: bold;
    margin-bottom: 20px;
    grid-column-start: 1;
    grid-column-end: 3;
}
.create-button {
    grid-column-start: 1;
    grid-column-end: 3;
}

.tab-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 1rem 0 1rem;
}

.tab-label {
    background-color: rgba(236, 234, 234, 0.82);
    border-bottom: 0.3rem solid rgba(202, 197, 197, 0.81);
    outline: none;
    cursor: pointer;
    padding: 1rem;
}

.tab-button:checked + .tab-label {
    background-color: rgba(179, 224, 241, 0.76);
    border-bottom: 0.3rem solid rgba(102, 102, 212, 0.68);
    padding: 1rem;
}

.tab-content {
    flex-direction: column;
    display: none;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    flex: 1 1;
    margin: 0 1rem 1rem 1rem;
    padding: 1rem;
    overflow: auto;
}

/* display: block causes the element to be visible, since the default value is none */
#create-lobby {
    display: block;
    bottom: auto;
}

.join-lobby-data {
    display: flex;
    flex-direction: row;
    flex: 1;
    height: 100%;
}

.table-wrapper-wrapper {
    display: flex;
    flex-direction: column;
    flex: 3;
    margin: 1rem;
    overflow: hidden;
}

.table-wrapper {
    flex: 1;
    border: 1px solid rgba(112, 128, 144, 0.61);
    overflow-y: scroll;
}

#refresh-button {
    margin-bottom: 0.5rem;
}

#lobby-table {
    width: 100%;
}

.lobby-details {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: min-content min-content min-content min-content min-content min-content min-content minmax(min-content,4rem);
    column-gap: 2rem;
    row-gap: 1rem;
    flex: 2;
    margin: 1rem;
    padding: 1rem;
    background-color: rgba(226, 226, 226, 0.46);
    overflow: auto;
}

.lobby-detail {
    font-weight: bold;
}

table {
    border: 0;
    border-collapse: collapse;
}

td, th {
    text-align: left;
    padding: 0 5px 0 5px;
}

th {
    background-color: rgba(255, 255, 255, 0.25);
    position: sticky;
    top: 0;
    padding: 0.2rem;
}

tr:nth-child(2n) {
    background-color: rgba(219, 219, 219, 0.24);
}

tr:hover {
    background-color: rgb(248, 148, 164);
}

#join-button:disabled {
    cursor: not-allowed;
}

#join-button {
    grid-column-start: 1;
    grid-column-end: 3;
}

tr[selected="true"] {
    background-color: rgba(100, 100, 222, 0.63);
}

@media only screen
and (min-device-width: 375px) and (max-device-width: 812px),
(orientation: portrait) or (max-aspect-ratio: 4/3) {
    #logo {
        width: 95vw;
    }
    .tab-header {
        margin: 0;
    }
    .tab-content {
        padding: 0;
        margin: 0;
    }

    .center-container {
        margin: 0;
    }
    .content-container {
        width: 96%;
        padding: 2%;
    }
    .input-container {
        align-items: start;
        display: flex;
        flex-direction: column;
        width: 100%;
        row-gap: 5px;
    }
    .advanced-section {
        width: 100%;
    }
    .input-container > input[type="checkbox"] {
        width: initial;
    }
    .input-container > * {
        flex-grow: 1;
    }
    .create-button {
        width: 100%;
    }

    .join-lobby-data {
        flex-direction: column;
    }
    .lobby-details {
        margin: 0.5rem;
        padding: 0.5rem;
        row-gap: 0.5rem;
    }
    .table-wrapper-wrapper {
        margin: 0.5rem;
    }
}